#data img {
    width: 130px;
    height: 190px;
}
#buttonsDiv {
    display: flex;
    justify-content: center;
    text-align: center;
}
button {
    margin-left: 10px;
    margin-right: 10px;
    zoom: 1.4;
    font-weight: bold;
}
.answer {
    border: 1px solid blue;
}
#leftCardDiv {
    margin: 0 auto;
    text-align: center;
}
#leftTimeDiv {
    text-align: center;
    color: deeppink;
    font-size: 1.2rem;
    margin: 0 auto 10px;
}